@model ITS.Models.Publisher
@using ITS.Models
@using ISDCore
@{

    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="row">
    <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 @ITS.Resources.ResourcesFiles.MapCssClass.OriantationInverse">
        <a href="@Url.Action("Browse","Publisher")" class="btn btn-danger">@ITS.Resources.ResourcesFiles.MapLabel.Cancel</a>
    </div>
</div>
<h2 style="color:white; background-color:darkcyan; padding-top:8px; padding-bottom:8px;padding-right:8px;">@ViewBag.PreviewTitle @ISDCore.Language.MapValue(Model.Name_E,Model.Name_A)</h2>
<style>
    .title {
        font-size: large;
        color: gray;
        font-weight: bold;
    }
</style>

<div>
    <table style="width:100%">
        <tr>
          <div class="row">
            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="title">@ITS.Resources.ResourcesFiles.MapLabel.ArabicName</span>

                </div>
            </td>


            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="value">@Model.Name_A</span>
                </div>
            </td>


            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="title">@ITS.Resources.ResourcesFiles.MapLabel.EnglishName</span>

                </div>
            </td>

            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="value">@Model.Name_E</span>
                </div>
            </td>
          </div>
        </tr>
       

        <tr>
          <div class="row">
            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="title">@ITS.Resources.ResourcesFiles.MapLabel.ArabicDescription</span>
                </div>
            </td>

            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="value">@Model.Description_A</span>
                </div>
            </td>


            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="title">@ITS.Resources.ResourcesFiles.MapLabel.EnglishDescription</span>
                </div>
            </td>

            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="value">@Model.Description_E</span>
                </div>
            </td>
          </div>
        </tr>

        <tr>
          <div class="row">
            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="title">@ITS.Resources.ResourcesFiles.MapLabel.HomePage</span>
                </div>
            </td>

            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="value">@Model.HomePage</span>
                </div>
            </td>


            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="title">@ITS.Resources.ResourcesFiles.MapLabel.Country</span>
                </div>
            </td>

            <td>
                <div class="col-xsm-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <span class="value">@ISDCore.Language.MapValue(Model.Country.Name_E, Model.Country.Name_A)</span>
                </div>
            </td>
          </div>
        </tr>
       


    </table>
    
    


    
</div>

   

